In [1]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("eval_control.csv")

In [24]:
df_anon = df[[col for col in df.columns if "Cuestionario" in col]].copy()
df_anon.columns = [col.split(" ")[-2] for col in df_anon.columns]
df_anon.rename(columns = {"Control": "Redox"}, inplace = True )
df_anon.replace("-",0, inplace = True)
df_anon = df_anon.astype("float")
df_anon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Estequiometría  88 non-null     float64
 1   Soluciones      88 non-null     float64
 2   Redox           88 non-null     float64
dtypes: float64(3)
memory usage: 2.2 KB

    Estequiometría  Soluciones     Redox
0              0.0      0.0000  0.000000
1              0.4      0.5625  0.000000
2              0.6      0.8125  0.428571
3              0.0      0.0000  0.000000
4              1.0      0.8750  0.618571
..             ...         ...       ...
83             1.0      0.6875  0.000000
84             0.6      0.3750  0.024286
85             0.8      0.8750  0.428571
86             0.8      0.8750  0.618571
87             1.0      0.7500  0.904286

[88 rows x 3 columns]

In [31]:
df_anon["total"] = df_anon.sum(axis = 1)
df_anon = df_anon.apply(lambda x: x/max(x))
df_anon.head()

   Estequiometría  Soluciones     Redox     total
0             0.0      0.0000  0.000000  0.000000
1             0.4      0.5625  0.000000  0.346818
2             0.6      0.8125  0.428571  0.640944
3             0.0      0.0000  0.000000  0.000000
4             1.0      0.8750  0.618571  0.856613

In [32]:
df_anon.to_csv("eval_control_anonimizacdos.csv")